page-filter {

  
      
        .slide-image {
          height: 60%;
          width: 60%;
          margin: 3px 0px;
          
        }
    
        .slides {
          background-color: #C4C4C4
        }
    #AP1{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    
    .Butang2{
      text-align: left
    }}
    
    #CN1{
      float: right;
      margin-top: 10px;
      width: 100px;
      }
    
    .Butang1{
      text-align: center
    }
    
    

}
