page-brunei {
    font-family: calibri;
}

.blck {
    display: block;
}

.butang {
    height: 150px;
    width: 140px;
    display: inline-block;
    margin-top: 7px;
    margin-left: 12px
}

.text {
    font-size: 12px;
}

.type {
    color: darkgrey;
    font-size: 10px
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

div#tabmenu{
    text-align: center;
}
