page-brunei {
    font-family: calibri;
}

#text {
    padding: 1px;
}

// button {
//     height: 100px;
// }

#pix5 {
    height: 55px;
    // padding-right: 15px;
    margin-right: 25px;
}

#right5 {
    height: 20px;
    padding-left:23px;
}

#pix6 {
    height: 75px;
    // padding-right: 1px;
    margin-right: 12px;
}

#right6 {
    height: 20px;
    padding-left:1px;
}

#pondok {
    padding-left: 20px;
}

#pix7 {
    height: 53px;
    margin-right: 1px;
}

#right7 {
    height: 20px;
    margin-left:10px;
    margin-right: 20px;
}

#pix8 {
    height: 73px;
    margin-right: 25px;
}

#right8 {
    height: 20px;
    margin-left:30px;
    margin-right: 1px;
}

#pix9 {
    height: 73px;
    margin-right: 30px;
}

#right9 {
    height: 20px;
    margin-left:25px;
    margin-right: 25px;
}
