page-brunei {
    font-family: calibri;
}

.blok {
    display: block;
}

.takan {
    height: 140px;
    width: 130px;
    display: inline-block;
    margin: 7px;
}

.textz {
    font-size: 12px;
}

.jenis {
    color: darkgrey;
    font-size: 10px
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
