page-home{
  font-family: 'Calibri';
}
  
  #foodex {
    width: 60px
  }
  
    .slide-image {
      height: 60%;
      width: 60%;
      margin: 3px 0px
    }

    .slides {
      background-color: #C4C4C4
    }

    .place {
      margin: 10px;
      height: 130px;
      width: 130px;
      display: inline-flex;
      background-color: #C4C4C4
    }

    #save {
      float: right
    }

    #rv {
      display: inline-flex;
      margin-left: 20px
    }

    #slide2 {
      width: 210px
    }

    .recently {
      border-radius: 100px
    }

    .textvisit{
     text-align: center
    }

    #favimg {
      border-radius: 100px;
      height: 80px;
      width: 80px;
      margin: 0 auto;
      margin-top: 5px
    }

    

