page-reward {
    font-family: calibri;
}

#medal {
    text-align: center;
}

#reward {
    height:200px; 
    width:200px;
    border-radius: 100px
}

#points {
    font-weight: bold;
    text-align: center
}