page-cool {

}

.gambar {
    width: 45%;
    }
    #bigdiv {
        display: inline-block;
        border: 10px, black;
    }
    #logo {
        border: 2px, black;
    }
    .icon {
        width: 35px;
        height: 67px;
        }
    .cards-bg {
        width: 275px;
        height: 250px;
        border: 1px, black;
    }
    #card {
        width: 215px;
        height: 75px;
    }
    
    #bigcard {
        width: 275px;
        height: 250px;
    }
    
    #reviews {
        font-size: 20px;
    }
    
    #text {
        font-size: 20px;
    }
    
    #testt {
        background: #F79D5C;
        border: solid 1px;
    }
    #alamat {
        padding: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    #big {
        padding-top: 1px;
    }
