page-allrestaurant {
    font-family: calibri;
}

    div#tabmenu{
        text-align: center;
    }

    button#sortbutton{
        width: 150px;
        height: 40px;
        font-size: 100%;
        font-weight: 100%;
        letter-spacing: 5px;
        margin-top: 20px;
                
        
    }

    button#filterbutton{
        width: 150px;
        height: 40px; 
        font-size: 100%;
        font-weight: 100%;
        letter-spacing: 5px;
        margin-top: 20px;
    }

    .blck {
        display: block;
    }
    
    .butang {
        height: 150px;
        width: 140px;
        display: inline-block;
        margin-top: 30px;
        margin-left: 10px;
    }

    .text {
        font-size: 12px;
    }
    
    .type {
        color: darkgrey;
        font-size: 10px
    }

    .image {
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }