page-allrestaurant {

    div#tabmenu{
        text-align: center;
    }

    button#sortbutton{
        width: 150px;
        height: 40px;
        font-size: 100%;
        font-weight: 100%;
        letter-spacing: 5px;
        
    }

    button#filterbutton{
        width: 150px;
        height: 40px; 
        font-size: 100%;
        font-weight: 100%;
        letter-spacing: 5px;
    }


}
