page-tutong {
    font-family: calibri;
}

.blok {
    display: block;
}

.takan {
    height: 140px;
    width: 130px;
    display: inline-block;
    margin: 7px;
}

#pix5 {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.textz {
    font-size: 12px;
}

.jenis {
    color: darkgrey;
    font-size: 12px
}


// #right5 {
//     height: 20px;
//     padding-left:23px;
// }

#pix6 {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

// #right6 {
//     height: 20px;
//     padding-left:1px;
// }

// #pondok {
//     padding-left: 20px;
// }

#pix7 {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

// #right7 {
//     height: 20px;
//     margin-left:10px;
//     margin-right: 20px;
// }

#pix8 {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

// #right8 {
//     height: 20px;
//     margin-left:30px;
//     margin-right: 1px;
// }

#pix9 {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

// #right9 {
//     height: 20px;
//     margin-left:25px;
//     margin-right: 25px;
// }

// #tempat {
//     margin: 10px;
//     height: 130px;
//     width: 130px;
//     display: inline-flex;
//     background-color: #C4C4C4
// }
