page-sort {


  
      
        .slide-image {
          height: 60%;
          width: 60%;
          margin: 3px 0px;
          
        }
    
        .slides {
          background-color: #C4C4C4
        }
    #AP{
    display: inline-block;
    width: 100px;
    }
    
    #CN{
      float: right;
      width: 100px;
      }
    
    .Btn1{
      text-align: center
    }
    
    .Btn2{
      text-align: left
    }    

}
