page-nearby {

}

ion-title {
    text-align: center
}

button {
    height: 100px;
}

#pix {
    height: 50px;
    padding-right: 45px;
}

#right {
    height: 20px;
    padding-left:45px;
}

#pix2 {
    height: 50px;
    padding-right: 73px;
}

#right2 {
    height: 20px;
    padding-left:73px;
}

#pix3 {
    height: 50px;
    padding-right: 79px;
}

#right3 {
    height: 20px;
    padding-left: 79px;
}

#pix4 {
    height: 50px;
    padding-right: 53px;
}